* {
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	/* background-color: #23272d; */
}

/* Navbar Css */

.navbar {
	background-color: #5f9ea0;
	position: relative;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	height: 70px;
	align-items: center;
	justify-content: space-between;
	backdrop-filter: blur(15px);
	/* background-color: initial; */
	box-shadow: 0 3px 5px #5f9ea0;
}

ul {
	color: white;
	right: 10%;
	display: flex;
	list-style: none;
	position: absolute;
	gap: 3vmax;
}

.navbar-links {
	text-decoration: none;
	color: #fff;
	font-size: 26px;
}

.navbar-links:link {
	text-decoration: none;
}

.navbar-links:visited {
	text-decoration: none;
}

.navbar-links:hover {
	text-decoration: underline;
	color: rgb(77, 123, 127);
}

.navbar-links:active {
	text-decoration: underline;
}

.service {
	background: #101010;
	width: 100%;
	padding: 100px 0px;
}

.title h2 {
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}

.card {
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.card i {
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;

}

h5 {
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}

.pra p {
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}

.card .btn {
	background-color: #f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s;
}

.card .btn:hover {
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

.contact-me {
	width: 100%;
	height: 290px;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.contact-me p {
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}

.contact-me .btn-two {
	background-color: #f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s;
}

.contact-me .btn-two:hover {
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

footer {
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer p:nth-child(1) {
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}

footer p:nth-child(2) {
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}

.social {
	display: flex;
}

.social a {
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f9004d;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.social a:hover {
	transform: scale(1.3);
	transition: .3s;
}

.end {
	position: absolute;
	color: #f9004d;
	bottom: 35px;
	font-size: 14px;
}

.hidden {
	display: none;
}

.overlay {
	position: fixed;
	top: 0%;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(100px);
	z-index: 1;
}

.modal {
	width: 96%;
	height: 80%;
	padding: 1.3rem;
	position: fixed;
	top: 8%;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 25px;
	z-index: 5;
	display: flex;
}

iframe {
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 15.1px;
}

.modalcontent {
	/* display: flex; */
	/* align-items: start; */
	width: 100%;
	position: relative;
}

.togglebtn {
	background-color: #191919;
	position: absolute;
	color: white;
	height: 24px;
	width: 24px;
	top: 1px;
	right: 1px;
	border-radius: 5px;
	cursor: pointer;
}